<!-- Users table view -->

<input ng-model="filterText" />

<table class="users-view-table">
  <thead>
    <tr>
      <td>FIRST NAME</td>
      <td>LAST NAME</td>
      <td>GENDER</td>
      <td>COMPANY NAME</td>
      <td>JOB TITLE</td>
      <td>EMAIL</td>
      <td>ID</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | filter:firstNameFilter">
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.company_name }}</td>
      <td>{{ user.job_title }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.id }}</td>
    </tr>
  </tbody>
</table>
